.wbdv-sticky-nav-bar {
    background-color: lightblue;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.wbdv-react-table {
    padding-top: 50px;
}

.wbdv-react-grid {
    padding-top:10px;
}

.bottomRight{
    position: absolute;
    bottom: 0;
    right:0;
}
